.idea
.jpb/
log/
*/*.iml
*.iml
*.log
.classpath
.project
.settings/
target/
apk/**
!apk/app-release.apk
icon/
!icon/empty.txt
harden/**
!harden/config.ini
!harden/NHPProtect.jar
!harden/tool.tar.gz
/*.jks
!/apk.jks
*.sh
*.properties
